.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    color: white;
    padding: 5px 10px;
  }
  
  .titleContainer h3 {
    margin: 0;
  }
  
  .titleContainer span {
    font-size: 1.2em;
  }

  details summary {
    list-style: none; /* Supprime les puces */
    cursor: pointer; /* Change le curseur en pointeur au survol */
    background-color: #FF6060; /* Couleur de fond */
    color: #FFFFFF; /* Couleur du texte */
    padding: 5px; /* Ajoute un peu de marge autour du texte */
    border-radius: 5px; /* Ajoute des coins arrondis */
    display: flex; /* Utiliser flexbox pour aligner les éléments */
    justify-content: space-between; /* Espacement égal entre les éléments */
    align-items: center; /* Centrer les éléments verticalement */
  }
  
  /* Style pour le texte contenu dans le summary */
  details summary h3 {
    margin: 0; /* Supprime la marge par défaut */
  }
  