.carousel-container {
  position: relative;
  width: 90%; 
  max-width: 1240px; 
  margin: 0 auto; 
  text-align: center;
}

.carousel-image {
  width: 100%;
  height: auto; 
  max-width: 1240px;
  max-height: 415px; 
  display: block;
  margin: 0 auto;
  border-radius: 25px;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  z-index: 1; 
}

.carousel-arrow img {
  width: 100%;
  height: auto;
}

.carousel-arrow-left {
  left: 0;
}

.carousel-arrow-right {
  right: 0;
}

.carousel-counter {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.apartment-title {
  font-size: 36px;
  font-weight: bold;
  color: #ff6060;
  margin-bottom: 0; 
  margin-left: 30px;
}

.apartment-location {
  font-size: 18px;
  margin-top: 0;
  margin-left: 30px;
}

.apartment-header {
  display: flex;
  justify-content: space-between; 
}

.host-name {
  color: #ff6060;
  font-size: 18px;
}

.host-info {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-left: 10px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap; 
  margin-top: 10px;
  margin-right: 10px; 
  margin-left: 30px;
}

.tag {
  background-color: #ff6060;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 10px; 
  margin-bottom: 5px; 
}

.rating-stars {
  font-size: 36px;
  display: flex;
  justify-content: flex-end;
  margin-top: -40px;
  margin-right: 30px;
}

