.grid {
    background-color:#F6F6F6;
    display: flex;
    min-height: 50vh;
    border-radius: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content:center ;
  
}

@media screen and (width <=768px) {
    .grid {
        justify-content: center;
        background-color: white;
    padding: 0;
    }
}

.apartement.home {
    border-radius: 1rem;
    width: 340px; 
    height: 340px; 
    display: grid;
    align-items: end;
    margin: 1rem; 
}

@media screen and (max-width: 768px) {
    .apartement.home {
        flex-basis: calc(50% - 1rem); 
        margin: 0.5rem; 
    }
}

.apartementCover {
    position: relative;
    width: 340px;
    height: 340px;
    background-size: cover;
    border-radius: 10px;
  }
  
  .apartementSubtitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 340px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    font-weight: bold;
    box-sizing: border-box;
}
