.banner-image {
  max-width: calc(100% - 40px);
  height: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto; 
}


@media screen and (max-width: 500px) {
  .banner-image {
    margin: 10px auto; 
  }
}
