.error-title {
    color: #ff6060;
    font-size: 288px;
    font-weight: bold;
    text-align: center;
  }
  
  .error-subtitle {
    color: #ff6060;
    font-size: 36px;
    text-align: center;
  }
  .return-link {
    margin-bottom: 80px;
    text-align: center;
    color: black;
    font-size: 18px;
  }
  
  @media screen and (max-width: 768px) {
    .error-title {
      font-size: 150px;
      margin-top: 250px;
    }
  
    .error-subtitle {
      font-size: 18px;
    }
  
    .return-link {
      font-size: 14px;
      margin-top: 150px;
    }
    .footer{
      bottom: 0;
    }
  }