body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error-title {
  color: #ff6060;
  font-size: 288px;
  font-weight: bold;
  text-align: center;
}

.error-subtitle {
  color: #ff6060;
  font-size: 36px;
  text-align: center;
}
.return-link {
  margin-bottom: 80px;
}